<form method="post">
    <div class="form-group row">
        <label for="idLivre" class="col-lg-3">Auteur</label>
        %listeAuteur%
    </div>
    <div class="form-group row">
        <label for="idLivre" class="col-lg-3">Livre</label>
        %listeLivre%
    </div>
    <button type="submit" name="submitAddLink" id="submitAddLink" class="btn btn-success" value="Valider">
        Valider
    </button>
    <a href="index.php?action=authorList">
        <button type="button" name="cancelForm" id="cancelForm" value="Annuler" class="btn btn-danger">
            Annuler
        </button>
    </a>
</form>